@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* @import '@coinbase/onchainkit/styles.css';  import '@coinbase/onchainkit/styles.css';*/

/* The base layer is for things like reset rules or default styles applied to plain HTML elements. */
@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --font-weight: 400;
    --blurry-gradient: linear-gradient(342deg, rgba(0,0,0,1) 0%, rgba(67,56,202,1) 100%);
    background: linear-gradient(342deg, rgba(0,0,0,1) 0%, rgba(67,56,202,1) 100%);
    color: #FFF;
    font-size: 28px;
    font-weight: var(--font-weight, 400); 
  }
}

/* The components layer is for class-based styles that you want to be able to override with utilities. */

@layer components {
  .my-custom-style {
    
  }
}

/* The utilities layer is for small, single-purpose classes that should always take precedence over any other styles. */
@layer utilities {
  
}

@media (max-width: 768px) {

}

#main-text{
  /* font-size: 50px; */
  font-family: "system-ui";
  font-weight:  400;

}
